In [1]:
import numpy as np
import pandas as pd

# DATAFRAME CREATION

PD.DATAFRAME()

In [27]:
# pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

# data:    2D data structure (array, list, dict...)
# index:   Row labels (Defaults to integers 0, 1, 2...), can be customized (must match data length)
# columns: Column labels (Defaults to integers 0, 1, 2...), can be customized (must match data width)
# dtype:   Force data type for columns (changes all columns to this type)
# copy:    If True, data is copied (creates a new copy, change data in copy does not affect original), If False (default), a view is created (changes in DataFrame affect original data)
# =================================================================================================================

# MAIN FEATURE:
# It creates a 2D table where each column can have a different data type (int, float, string...)
# It consists of three parts: The Data, the Index (row labels), and the Columns (column labels)
# We can apply all numpy mathematical operations on DataFrames (on specific columns or entire DataFrame)
# =================================================================================================================

# CREATING A DATAFRAME FROM DICTIONARY (Most Common)
# Keys become Column names, values become Column data
data_dict = {
    'Name': ['Tayyab', 'Ali', 'Ahmad'],
    'Age': [21, 30, 35],
    'City': ['Lahore', 'Karachi', 'Lahore']
}
df_dict = pd.DataFrame(data_dict)

print("DataFrame from Dict:\n", df_dict)
# =================================================================================================================

# CREATING A DATAFRAME FROM NUMPY ARRAY
# If no index/columns are provided, Pandas uses default integers (0, 1, 2...)
np_data = np.random.rand(3, 2)
df_np = pd.DataFrame(np_data, columns=['Score_A', 'Score_B'], index=['R1', 'R2', 'R3'])

print("\nDataFrame from NumPy:\n", df_np)
# =================================================================================================================

# CREATING A DATAFRAME FROM LIST OF DICTS
data_list = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df_list = pd.DataFrame(data_list)

# Missing values are automatically handled as NaN (Not a Number)
print("\nDataFrame from List of Dicts (with missing data):\n", df_list)
# =================================================================================================================

# DATAFRAME ATTRIBUTES:
# df.shape   -> Returns (rows, columns)
# df.columns -> Returns the Column Index
# df.index   -> Returns the Row Index
# df.dtypes  -> Returns the data type of each column
# df.values  -> Returns the raw data as a NumPy ndarray (removes labels)
# df.size    -> Returns total number of elements (rows * columns)
# df.ndim    -> Returns number of dimensions (always 2 for DataFrames)
# df.T       -> Transposes the DataFrame (swaps rows and columns)
# df.axes    -> Returns a list of [row index, column index]
# df.empty   -> Returns True if DataFrame is empty (0 rows and 0 columns)

print("\nColumns found:", df_dict.columns)
print("\nData Types:\n", df_dict.dtypes)
print("\nRaw Values (NumPy):\n", df_dict.values)

DataFrame from Dict:
      Name  Age     City
0  Tayyab   21   Lahore
1     Ali   30  Karachi
2   Ahmad   35   Lahore

DataFrame from NumPy:
      Score_A   Score_B
R1  0.020103  0.496263
R2  0.862757  0.657909
R3  0.380710  0.006404

DataFrame from List of Dicts (with missing data):
    a   b     c
0  1   2   NaN
1  5  10  20.0

Columns found: Index(['Name', 'Age', 'City'], dtype='object')

Data Types:
 Name    object
Age      int64
City    object
dtype: object

Raw Values (NumPy):
 [['Tayyab' 21 'Lahore']
 ['Ali' 30 'Karachi']
 ['Ahmad' 35 'Lahore']]

ATTRIBUTES OF A DATAFRAME

In [13]:
# DATAFRAME ATTRIBUTES
# =================================================================================================================

# Sample DataFrame for demonstration
data = {
    'Price': [10.5, 20.0, 15.75],
    'Stock': [100, 150, 80],
    'Product': ['Apple', 'Banana', 'Cherry']
}
df = pd.DataFrame(data, index=['001', '002', '003'])
print("Sample DataFrame:\n", df)
# =================================================================================================================

# df.shape -> Returns a tuple representing the dimensions (rows, columns)
print("\nShape:", df.shape)             # Output: (3, 3)
# =================================================================================================================
# df.columns -> Returns the 'Index' object representing the column labels
print("\nColumns:", df.columns)         # Output: Index(['Price', 'Stock', 'Product'], dtype='object')
# =================================================================================================================

# df.index -> Returns the 'Index' object representing the row labels
print("\nIndex:", df.index)             # Output: Index(['001', '002', '003'], dtype='object')
# =================================================================================================================

# df.dtypes -> Returns a Series with the data type of each column
# Crucial for finding columns that might have "dirty" data (numbers stored as strings...)
print("\nData Types:\n", df.dtypes)   # Output: Series showing data types of each column
# =================================================================================================================

# df.values / df.to_numpy() -> Returns the raw data as a NumPy ndarray (removes labels)
print("\nRaw Values (NumPy):\n", df.values)      # Output: 2D NumPy array of the DataFrame's data
# =================================================================================================================

# df.size -> Returns the total number of elements (rows * columns)
print("\nTotal Elements:", df.size)      # Output: 9
# =================================================================================================================

# df.ndim -> Returns the number of dimensions. For DataFrames, this is ALWAYS 2
print("\nDimensions:", df.ndim)          # Output: 2
# =================================================================================================================

# df.T (Transpose) -> Flips the table: Columns become Rows, and Rows become Columns
print("\nTransposed DataFrame:\n", df.T)        # Output: Transposed DataFrame (Rows and Columns swapped)
# =================================================================================================================

# df.axes -> Returns a list containing both the row index and column index
print("\nAxes List:", df.axes)          # Output: [Index of rows, Index of columns]
# =================================================================================================================

# df.empty -> Returns True if the DataFrame has no data (0 rows and 0 columns), else
print("\nIs it empty?", df.empty)       # Output: False

Sample DataFrame:
      Price  Stock Product
001  10.50    100   Apple
002  20.00    150  Banana
003  15.75     80  Cherry

Shape: (3, 3)

Columns: Index(['Price', 'Stock', 'Product'], dtype='object')

Index: Index(['001', '002', '003'], dtype='object')

Data Types:
 Price      float64
Stock        int64
Product     object
dtype: object

Raw Values (NumPy):
 [[10.5 100 'Apple']
 [20.0 150 'Banana']
 [15.75 80 'Cherry']]

Total Elements: 9

Dimensions: 2

Transposed DataFrame:
            001     002     003
Price     10.5    20.0   15.75
Stock      100     150      80
Product  Apple  Banana  Cherry

Axes List: [Index(['001', '002', '003'], dtype='object'), Index(['Price', 'Stock', 'Product'], dtype='object')]

Is it empty? False

PD.SERIES()

In [16]:
# pd.Series(data=None, index=None, dtype=None, name=None, copy=False)
# =================================================================================================================

# MAIN FEATURE:
# It is a 1D array with axis labels (Index), like a single column DataFrame
# =================================================================================================================

# CREATING A SERIES FROM LIST
# Default integer index (0, 1, 2...) is assigned automatically
s_list = pd.Series([10, 20, 30, 40])
print("Series from List:\n", s_list)
# =================================================================================================================

# CREATING A SERIES FROM DICTIONARY (only from single value for each key)
# Keys become the Index, values become the Data
data_dict = {'a': 100, 'b': 200, 'c': 300}
s_dict = pd.Series(data_dict)

print("\nSeries from Dict (Labeled Index):\n", s_dict)
# =================================================================================================================

# CREATING A SERIES WITH CUSTOM INDEX & NAME
# 'name' attribute acts like a column header in a DataFrame.
s_custom = pd.Series([1.1, 2.2, 3.3], 
                     index=['p1', 'p2', 'p3'], 
                     name="Scores")

print("\nCustom Series:\n", s_custom)
print("Series Name:", s_custom.name)
# =================================================================================================================

# 4. KEY ATTRIBUTES
# s.values -> Returns data as a NumPy array
# s.index  -> Returns the labels
# s.dtype  -> Returns the data type
# s.size   -> Returns the number of elements
# s.ndim   -> Returns number of dimensions (always 1 for Series)
# s.name   -> Returns the name of the Series
# s.empty  -> Returns True if Series is empty (0 elements)

print("\nData as NumPy:", s_custom.values)
print("Index Labels:", s_custom.index)

Series from List:
 0    10
1    20
2    30
3    40
dtype: int64

Series from Dict (Labeled Index):
 a    100
b    200
c    300
dtype: int64

Custom Series:
 p1    1.1
p2    2.2
p3    3.3
Name: Scores, dtype: float64
Series Name: Scores

Data as NumPy: [1.1 2.2 3.3]
Index Labels: Index(['p1', 'p2', 'p3'], dtype='object')

s_dict * 2:
 a    200
b    400
c    600
dtype: int64

PD.INDEX()

In [22]:
# pd.Index(data, dtype=None, copy=False, name=None, tupleize_cols=True)

# copy:            If True, data is copied (creates a new copy, change data in copy does not affect original), If False (default), a view is created (changes in DataFrame affect original data)
# tupleize_cols:   Controls whether to convert multi-level columns to tuples (default is True), means if the columns are multi-level, they will be represented as tuples in the Index
# =================================================================================================================

# MAIN FEATURE:
# It creates an immutable, 1D array of labels 
# These labels are used to identify rows (index) or columns (columns) in DataFrames/Series
# Being 'immutable' means once created, you cannot change individual elements (idx[0] = 5 will error)
# ====================================================================================================================

# DIFFERCE BETWEEN INDEX, SERIES, DATAFRAME:
# Index      -> 1D immutable array of labels (used for indexing)
# Series     -> 1D labeled array (like a single column DataFrame)
# DataFrame  -> 2D labeled table (multiple columns, each can have different data types)

# =================================================================================================================

# BASIC CREATION
# From a List
idx_list = pd.Index([1, 2, 3, 4], name="IDs", dtype='int32')

# From a Numpy Array
idx_np = pd.Index(np.array(['Jan', 'Feb', 'Mar']), name="Months", dtype='object')

print("Index from List:", idx_list)
print("\nIndex from NumPy:", idx_np)
# =================================================================================================================

# COPY PARAMETER
# False (Default) -> Tries to use the original memory (like a view), changes in original data affect the Index and vice versa
# True            -> Forces a new memory allocation for the index (a copy), changes in original data do NOT affect the Index
data = np.array([10, 20, 30])
idx_view = pd.Index(data, copy=False)
data[0] = 99

print("\nEffect of copy=False (Original changed):", idx_view[0]) # Output: 99
# =================================================================================================================

# SET OPERATIONS (Power of Index)
# Indexes act like "Sets," allowing you to find overlaps or differences between datasets.
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])

print("\nUnion (All unique):       " , idx1.union(idx2))        # [1, 2, 3, 4, 5, 6]
print("Intersection (Common):    "   , idx1.intersection(idx2)) # [3, 4]
print("Difference (In 1 not 2):  "   , idx1.difference(idx2))   # [1, 2]
# =================================================================================================================

# TYPE CONVERSION (dtype)
# Pandas will auto-detect, but you can force specific types
idx_float = pd.Index([1, 2, 3], dtype="float64")
print("\nFloat Index:\n", idx_float)

Index from List: Index([1, 2, 3, 4], dtype='int32', name='IDs')

Index from NumPy: Index(['Jan', 'Feb', 'Mar'], dtype='object', name='Months')

Effect of copy=False (Original changed): 99

Union (All unique):        Index([1, 2, 3, 4, 5, 6], dtype='int64')
Intersection (Common):     Index([3, 4], dtype='int64')
Difference (In 1 not 2):   Index([1, 2], dtype='int64')

Float Index:
 Index([1.0, 2.0, 3.0], dtype='float64')

PD.DATE_RANGE()

In [24]:
# pd.date_range(start=None, end=None, periods=None, freq=None, tz=None, name=None, inclusive=None, normalize=False)
   
# START (required):      Start of the date range    [('year, date, month', 'hour:minute:second')] as '2026, 21, 1 15:35:00'
# END (required):        End of the date range      [('year, date, month', 'hour:minute:second')] as '2026, 21, 1 15:35:00'
# PERIODS (required):    Number of periods in int to generate      (number of dates to generate if no end is given)
# FREQ (optional):       Frequency of the date range, optional values are:
#                              'D' (default): Date, means date range frequency is day wise        (2026, 01, 21)
#                              'H' : Hour, means date range frequency is hour wise                (2026, 01, 21 15:00:00)
#                              'min' or 'T' : Minutes, means date range frequency is minute wise  (2026, 01, 21 15:35:00)
#                              'S' : Seconds, means date range frequency is second wise           (2026, 01, 21 15:35:30)
#                              'M' : Month End, means date range frequency is month wise          (2026, 01, 31)
#                              'MS' : Month Start, means date range frequency is month start wise (2026, 01, 01)
#                              'Y' : Year End, means date range frequency is year wise            (2026, 12, 31)
#                              'YS' : Year Start, means date range frequency is year start wise   (2026, 01, 01)
#                              'W-MON' : Week from Monday, means date range frequency is weekly starting from Monday
#                              'Q' : Quarter End, means date range frequency is quarter wise      (2026, 03, 31)
# TZ (optional):         None (default) value means no timezone display,     Asia/Karachi like values means Time zone of specific region for the date range along with date as       ['2024-01-01 00:00:00+05:00']
# NORMALIZE (optional):  False (default) value means starts each date range with the time given,     True value means normalize start/end of date time to midnight (00:00:00) in each time range
# NAME (optional):       Name of date_range column (in string),     None (default) value means no name
# INCLUSIVE (optional):  Start and End points are included or not in the date_range series, optional values are: 
#                              'both' (default) value means both start and end date/times are included
#                              'neither' both start and end date/times are excluded
#                              'left' only start date/time included
#                              'right' only end date/time included
# =================================================================================================================

# MAIN FEATURE:
# It returns a range of equally spaced time points (DatetimeIndex, a special index for date/time data)
# You must provide at least THREE of these parameters: start, end, periods, freq

# USED TO create a sequence (range) of dates or times with fixed frequency
# RETURNS a DatetimeIndex â€” a special index containing a range of dates/times at equal intervals
# RETURNS pandas.DatetimeIndex (an immutable sequence of Timestamp objects)
# USED TO:
        # Generate time series data (daily, monthly, hourly, etc.),   by pd.date_range('2023-01-01', periods=12, freq='M')
        # Build datetime-based indexes for time series analysis,      by df.index = pd.date_range(..., freq='D')
        # Create features like date, week, quarter, etc,              by df.index = pd.date_range(..., freq='D')
        # Prepare timestamps for financial or IoT datasets, by freq='10T'
# =================================================================================================================

# USING START, END, AND FREQUENCY
# Default frequency ('D') is daily.
daily_idx = pd.date_range(start='2026-01-01', end='2026-01-05', freq='D')
print("Daily Range:\n", daily_idx)
# =================================================================================================================

# USING START, PERIODS AND FREQUENCY
# Great when you know how many rows you need, but not the end date.
# 'H' = Hourly
hourly_idx = pd.date_range(start='2026-01-01', periods=5, freq='H')
print("\nHourly (5 periods):\n", hourly_idx)
# =================================================================================================================

# STEPPED FREQUENCIES
# You can combine numbers with aliases (like '2H' for every 2 hours)
stepped_idx = pd.date_range(start='2026-01-01', periods=4, freq='3h 30min')
print("\nCustom Step (3h 30m):\n", stepped_idx)
# =================================================================================================================

# NORMALIZE PARAMETER
normalized_idx = pd.date_range(start='2026-01-01 15:35:00', end='2026-01-03 10:20:00', freq='D', normalize=True)
print("\nNormalized Dates:\n", normalized_idx)

Daily Range:
 DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03', '2026-01-04',
               '2026-01-05'],
              dtype='datetime64[ns]', freq='D')

Hourly (5 periods):
 DatetimeIndex(['2026-01-01 00:00:00', '2026-01-01 01:00:00',
               '2026-01-01 02:00:00', '2026-01-01 03:00:00',
               '2026-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='h')

Custom Step (3h 30m):
 DatetimeIndex(['2026-01-01 00:00:00', '2026-01-01 03:30:00',
               '2026-01-01 07:00:00', '2026-01-01 10:30:00'],
              dtype='datetime64[ns]', freq='210min')

Normalized Dates:
 DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03'], dtype='datetime64[ns]', freq='D')

C:\Users\Admin\AppData\Local\Temp\ipykernel_11048\357920231.py:50: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_idx = pd.date_range(start='2026-01-01', periods=5, freq='H')

PD.BDATE_RANGE()

PD.PERIOD_RANGE()

PD.TIMEDELTA_RANGE()

PD.INTERVAL_RANGE()

PD.RANGE()

PD.FROM_DUMMIES()

PD.DATAFRAME.FROM_DICT()

In [6]:
# pd.DataFrame.from_dict(data, orient='columns', dtype=None, columns=None)

# data:    Dict to convert to DataFrame (required)
# orient:  'columns' (default) means keys are columns, 'index' means keys are rows
# dtype:   Force data types for columns (dict of column: dtype)
# columns: When orient='index', list of column names
# =================================================================================================================

# MAIN FEATURE:
# Creates a DataFrame from a dictionary
# Keys become column names (orient='columns') or row names (orient='index')
# Values become the data in those columns/rows
# =================================================================================================================

# SAMPLE DICTIONARIES
data_dict = {
    'Name': ['Tayyab', 'Ali', 'Ahmad'],
    'Age': [21, 30, 35],
    'City': ['Lahore', 'Karachi', 'Lahore']
}
# CREATING A DATAFRAME FROM DICTIONARY (Keys as Columns)
df_from_dict = pd.DataFrame.from_dict(data_dict)
print("DataFrame from Dict (orient='columns'):\n", df_from_dict)

# CREATING A DATAFRAME FROM DICTIONARY (Keys as Rows)
df_from_dict_index = pd.DataFrame.from_dict(data_dict, orient='index')
print("\nDataFrame from Dict (orient='index'):\n", df_from_dict_index)
# =================================================================================================================

# SPECIFYING COLUMNS WHEN ORIENT='INDEX'
# Provide custom column names
df_custom_cols = pd.DataFrame.from_dict(data_dict, orient='index', columns=['Col_A', 'Col_B', 'Col_C'])

print("\nDataFrame with Custom Columns:\n", df_custom_cols)
# =================================================================================================================

# FORCING DATA TYPE using dtype parameter (all columns to same type)
df_custom_cols = pd.DataFrame.from_dict(data_dict, orient='columns', dtype='string')   # all columns as string
print("\nDataFrame with All String Data Types:\n", df_custom_cols)
print("\nData Types:\n", df_custom_cols.dtypes)

 
# FORCING DATA TYPES using astype (different types per column)
df_custom_cols = pd.DataFrame.from_dict(data_dict, orient='columns').astype({'Name': 'string', 'Age': 'int32', 'City': 'string'})
print("\nDataFrame with Desired Data Types:\n", df_custom_cols)
print("\nData Types:\n", df_custom_cols.dtypes)

DataFrame from Dict (orient='columns'):
      Name  Age     City
0  Tayyab   21   Lahore
1     Ali   30  Karachi
2   Ahmad   35   Lahore

DataFrame from Dict (orient='index'):
            0        1       2
Name  Tayyab      Ali   Ahmad
Age       21       30      35
City  Lahore  Karachi  Lahore

DataFrame with Custom Columns:
        Col_A    Col_B   Col_C
Name  Tayyab      Ali   Ahmad
Age       21       30      35
City  Lahore  Karachi  Lahore

DataFrame with All String Data Types:
      Name Age     City
0  Tayyab  21   Lahore
1     Ali  30  Karachi
2   Ahmad  35   Lahore

Data Types:
 Name    string[python]
Age     string[python]
City    string[python]
dtype: object

DataFrame with Desired Data Types:
      Name  Age     City
0  Tayyab   21   Lahore
1     Ali   30  Karachi
2   Ahmad   35   Lahore

Data Types:
 Name    string[python]
Age              int32
City    string[python]
dtype: object

PD.FROM_RECORDS()

PD.FROM_DATETIME()

PD.FROM_NUMERIC()

PD.FROM_PYDATETIME()

PD.FROM_TUPLE()

PD.FROM_ARRAY()

PD.JSON_NORMALIZE()

# INPUT / OUTPUT

PD.READ_CSV()

In [ ]:
# pd.read_csv(filepath, seperator=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=None, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)
# used to read a CSV (Comma Separated Values) file and convert it into a DataFrame (a 2D tabular data structure like an Excel sheet)

# FILEPATH (required): path to CSV file (string like "data.csv" or a URL like "https://example.com/data.csv")
# SEPARATOR (optional): separator used between values like comma, semicolon; tab\t colon: underscore_  or any other seperator used in file
# DELIMITER (optional): alias for sep, you can use any of seperator or delimiter
# HEADER (optional): row number 0, 1, 2... to use as column names(heading), default_value = 'infer' which means pandas will guess by itself. Set header = 'None' if no header in dataset
# NAMES (optional): list of custom column names(headings) by yourself like ['name', 'age', 'gender'] only if the header = 'None'
# INDEX_COL (optional): column to use as index row, use column name (index_col = 'name') or column number (index_col = 0)
# USECOLS (optional): only load specific columns by name or position from the file, can be list (usecols = ['name', 'age', 'gender']) or function
# DTYPE (optional): force any column to desired data type like (dtype = {'name': str, 'age': int, 'gender': char})
# CONVERTERS (optional): direct apply formula to change all values of a column like (converter = {'age': lambda x: int(x)+1}) or (converter = {'name': lambda x: 'hi '+ x})
# TRUE_VALUES (optional): alias for boolean true value in file (true_values = ['yes'])
# FALSE_VALUES (optional): alias for boolean false value in file (false_values = ['no'])
# KEEP_DEFAULT_NA (optional): default value for null values in pandas is nan (keep_default_na = True) to remain nan or (keep_default_na = False) to chamge it by na_values parameter
# NA_VALUES (optional): alias for null or empty values in file (na_values = ['NA', 'n/a', 'missing'])
# NA_FILTER (optional): True (default) for find null values automatically and write as nan and False to turn off automatic detection
# SKIP_BLANK_LINES (optional): True (default) to skip empty lines in file and False to also read empty lines
# NROWS (optional): number of rows to read (useful for previewing large files)
# SKIPROWS (optional): skip first N number of rows (skiprows = 7) or skip rows mentioned in the list (skiprows = [1, 5, 7, 15])
# SKIPINITIALSPACE (optional): true (default) means ignore space after delimiter or seperator and False mean add spaces in columns
# SKIPFOOTER (optional):
# CHUNKSIZE (optional): default value is none means read full file, by passing any integer means divides the data in given number of rows for large files and return data in chunks of N rows (returns iterator) use it with loop to get all chunks like (chunk_iter = pd.read_csv("data.csv", chunksize=1000)   for chunk in chunk_iter:   print(chunk.head(1))    df = df.append(chunk)
# COMMENT (optional): ignore all lines starting with given specific symbol or character like (comment = '#')
# FLOAT_PRECISION (optional): Controls how floating-point numbers (like 3.14159265) are converted from text to floats, can improve precision or performance when importing CSVs with many decimal, optional values : ('high' : more accurate, slightly slower), ('legacy' : Use legacy float converter), ('round_trip' : Try to preserve exact binary value)
# PARSE_DATES (optional): automatically parse(read) one or more columns as datetime objects instead of reading them as plain text (strings), default value is False mean no date automatic detected, can be True for all dates column detection, can also be a list of column names to be detect as dates like (parse_dates = ['date', 'month', 'year'])
# INFER_DATETIME_FORMAT (optional): tells pandas to try to guess the datetime format (like %Y-%m-%d) to make parsing dates column faster, useful when your dataset has consistent date formats , default value is False means no automatic detection, and (infer_datetime_format = True) means automatic detect date columns faster
# KEEP_DATE_COL (optional): when combining multiple columns into a single datetime column (using parse_dates), (keep_date_col = True) means to keep the original columns as it is with the combined columnand False means drop the original columns that are combined are dropped and only one combined column remain there, always used with parse_dates parameter when it combines columns)
# DAYFIRST (optional): specifies that first part of date string is date or month True means first part is date and False means first part is month(12-5-2024 True means 12 is date, False mean 12 is month)
# MANGLE_DUPE_COLS (optional): True (default) means that when a CSV file contains duplicate column names, pandas will automatically make them unique by adding .1, .2, and False means write them as it is
# ENGINE (optional): choose which parser(reading) engine that pandas uses to read the CSV, this affects speed and features, allowed values: ('c' : Default. Fast but limited error reporting), ('python' : Slower, but more flexible ie better with bad formatting), ('pyarrow' : Fast and memory efficient for large files)
# VERBOSE (optional): True means pandas will print extra information (like number of NA values found per column) while parsing(reading) and False (default) mean only read no additional information print
# ITERATOR (optional): True means returns an iterator (not a DataFrame), This lets you manually fetch rows in chunks using .get_chunk(), default value is False, used as :    # Create an iterator object      reader = pd.read_csv("file.csv", iterator=True)     # Get next 3 rows    chunk = reader.get_chunk(3)      print(chunk)
# COMPRESSION (optional): Specify the compression format if the CSV file is compressed (like .zip, .gz, etc.), default value (compression = 'infer') means pandas guesses based on filename
# THOUSANDS (optional): True (default) means handle numbers like 1,000 as 1000 so not considered as seperator
# DECIMAL (optional): use any character or symbol as decimal point like decimal = '$'
# LINETERMINATOR (optional):
# QUOTECHAR (optional): character used for quoting strings default value is " we can change it like (quotechar = "_") added at start and end of quote string
# ENCODING (optional): text encoding format from another languages, common values: 'utf-8', 'latin1', 'ISO-8859-1'
# ENCODING_ERRORS (optional): how to handle encoding errors (e.g., 'ignore', 'replace', 'strict')
# DIALECT (optional):
# ERROR_BAD_LINES (optional):
# WARN_BAD_LINES (optional):
# ON_BAD_LINES (optional):
# DELIM_WHITESPACE (optional):
# LOW_MEMORY (optional): true (default) means internally process file in chunks to reduce memory usage

# RETURNS a dataframe (save or print it)

# READING IRIS FLOWER DATASET BY URL
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df.head(1)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa

PD.READ_JSON()

In [ ]:
# pd.read_json(filepath, orient=None, typ='frame', dtype=True, convert_dates=True, keep_default_dates=True, precise_float=False, date_unit=None, encoding='utf-8', lines=False, chunksize=None, compression='infer', nrows=None, storage_options=None)
# used to read JSON data file and convert it into a Pandas DataFrame
# commonly used when working with APIs, web-scraped data, or local JSON files


# FILEPATH (required): path to CSV file (string like "data.csv" or a URL like "https://example.com/data.csv")
# DTYPE (optional): True (default) value means automatically assign datatypes to the columns accordingly, False value means all columns data type assigned as string, and passing dictionary to it means force any column to desired data type like (dtype = {'name': str, 'age': int, 'gender': char})
# ORIENT (optional): defines how JSON file is structured and how to convert it into a dataFrame, default value is (orient = 'None') means pandas will try to auto-detect based on data structure, option values are ('split': when exported by to_json, 'records': when exported by API, 'index', 'columns', 'values', 'table')
# TYP (optional):  "dataframe" (default) value mean to return a DataFrame or "series" value mean to return Series
# CONVERT_DATES (optional): True (default) value means convert date like strings to date datatype automatically, False value means not converted to date datatype, and passing list with column names mean convert these column to date datatype like (convert_dates=["date"])
# KEEP_DEFAULT_DATES (optional):
# PRECISE_FLOAT (optional): True value mean use high-precision converter (slower), default value is False mean low precision conversion
# DATE_UNIT (optional): specifies unit for epoch timestamps when converting to datetime, default value is None, option values ('s' = seconds, 'ms' = milliseconds, 'us' = microseconds, 'ns' = nanoseconds)
# ENCODING (optional): text encoding format from another languages, common values: 'utf-8', 'latin1', 'ISO-8859-1'
# ENCODING_ERROR (optional): how to handle encoding errors (e.g., 'ignore', 'replace', 'strict')
# LINES (optional): False (default) value means read complete json file as one, True value means read each line or block of file saperately
# CHUNKSIZE (optional): none (default) value means read full file, by passing any integer means divides the data in given number of rows for large files and return data in chunks of N rows (returns iterator) use it with loop to get all chunks like (chunk_iter = pd.read_csv("data.csv", chunksize=1000)   for chunk in chunk_iter:   print(chunk.head(1))    df = df.append(chunk)
# COMPRESSION (optional): specify the compression format if the CSV file is compressed (like .zip, .gz, etc.) to decompress the file, default value (compression = 'infer') means pandas guesses based on filename
# NROWS (optional): none (default) value mean read complete file, and by passing any integer means read given number of rows (useful for previewing large files)


# RETURNS a dataframe (save or print it)


# READING IRIS FLOWER DATASET BY URL
df = pd.read_json("https://raw.githubusercontent.com/yuhonas/free-exercise-db/main/dist/exercises.json")
df.head(1)

,name,force,level,mechanic,equipment,primaryMuscles,secondaryMuscles,instructions,category,images,id
0,3/4 Sit-Up,pull,beginner,compound,body only,[abdominals],[],[Lie down on the floor and secure your feet. Y...,strength,"[3_4_Sit-Up/0.jpg, 3_4_Sit-Up/1.jpg]",3_4_Sit-Up

PD.READ_HTML()

PD.READ_SQL()

PD.READ_SQL_QUERY()

PD.READ_SQL_TABLE()

PD.READ_EXEL()

PD.READ_FEATHER()

PD.READ_PARQUET()

PD.READ_ORV()

PD.READ_MSGPACK()

PD.READ_SAS()

PD.READ_SPSS()

PD.READ_STATA()

PD.READ_CLIPBOARD()

PD.READ_TABLE()

DF.TO_CSV()

In [ ]:
# df.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)


# PATH_OR_BUF (optional): None (default) value means no path is given so dont write in file only return a string of CSV form of dataframe, passing a csv file name ('filename.csv') with address writes that string to the file and return nothing
# SEP (optional): What to use as seperator? ',' (default) value means use comma as a seperator between values, we can pass other operators as seperator like '_', '-', '*', '\t' ...
# NA_REP (optional): What to write instead of NaN value? ' ' (default) value means leave empty space for nan value, we can also pass any string or operator to use instead of nan value
# FLOAT_FORMAT (optional): Format float values? None (default) value means weite decimal valies as it is, passing float Format values can format the decimal values in CSV like ('%.2f' to write 2 decimal places)
# COLUMNS (optional):
# HEADER (optional):
# INDEX (optional):
# INDEX_LABEL (optional):
# MODE (optional):
# ENCODING (optional):
# COMPRESSION (optional):
# QUOTING (optional):
# QUOTECHAR (optional):
# LINE_TERMINATOR (optional):
# CHUNKSIZE (optional):
# DATE_FORMAT (optional):
# DOUBLEQUOTE (optional):
# ESCAPECHAR (optional):
# DECIMAL (opional):
# ERRORS (optional):
# STORAGE_OPTIONS (optional):


# USED TO save your DataFrame as a CSV file (comma-separated values) on your computer or return it as a string
# If [path_or_buf is given]: writes CSV form to file and RETURNS nothing
# If [path_or_buf=None] (default): RETURNS a string containing the CSV format of the DataFrame


# READING IRIS FLOWER DATASET BY URL
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df.head(1)

# CONVERT TO CSV FORMAT
csv_form = df.to_csv()
print(csv_form)

DF.TO_JSON()

DF.TO_EXEL()

DF.TO_PARQUET()

DF.TO_ORC()

DF.TO_MSGPACK()

DF.TO_PICKLE()

DF.TO_DATETIME()

DF.TO_NUMERIC()

DF.TO_TIMEDELTA()

# DATAFRAME ATTRIBUTES

In [ ]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")


# These are attributes not functions
# They can be used as df.attributes without parentheses()
# They have no parameters

DF.SHAPE

In [ ]:
# RETURNS shape (rows, column) of dataframe in tuple datatype

# FOR dataframe and series both

df.shape

DF.SIZE

In [ ]:
# RETURNS size (total number of elements = rows Ã— column) in the dataframe in int datatype

# FOR dataframe and series both

df.size

DF.NDIM

In [ ]:
# RERUNS dimensions (1D for series, 2D for dataframe) in int datatype

# FOR dataframe and series both

df.ndim

DF.DTYPES

In [ ]:
# RETURNS datatypes of each column in dataframe in pandas series datatype

# ONLY FOR dataframe

df.dtypes

DF.TYPE

In [ ]:
# RETURNS datatype of series or any single column in dataframe

# FOR dataframe and series both

df['5.1'].dtype

dtype('float64')

DF.VALUES

In [ ]:
# RETURN all values of dataframe in 1D or 2D array form (1st dimension = rows, 2nd dimension = columns)

# FOR dataframe and series both

df.values

DF.NBYTES

In [ ]:
# RETURNS total memory consumed by the series or any single column of dataframe in bytes

# ONLY FOR series (or single column of dataframe)

df['5.1'].nbytes

DF.MEMORY_USAGE

In [ ]:
# NOT AN ATTRIBUTE it is a function (described in data exploray part)

# RETURNS total memory consumed by each column dataframe in bytes

# ONLY FOR dataframe

df.memory_usage()

DF.INDEX

In [ ]:
# RETURNS row_label (index column) of dataframe RangeIndex(starting_index, stoping_index, jump)

# FOR dataframe and series both

df.index

DF.COLUMNS

In [ ]:
# RETURNS column_label (0 index row) of dataframe Index([column1, column2, .....columnX]), dtype of all columns

# ONLY FOR dataframe

df.columns

DF.AXES

In [ ]:
# RETURNS row_label and column_label (df.index & df.colum ) together

# FOR dataframe and series both

df.axes

DF.T

In [ ]:
# TRANSPOSE of a dataframe
# RETURNS a dataframe that is transpose (rows become column, column become rows) of orignal dataframe

# FOR dataframe and series both

df.T

DF.NAME

In [ ]:
# RETURNS names of SERIES (df.series) or names lf all columns in dataframe (df.column.name)
# RETURNS none if no name assigned

# ONLY FOR series (or single column of dataframe)
print(df.columns.name)

DF.EMPTY

In [ ]:
# RETURNS True if any value in dataframe (df.empty) or series (df['column'].empty) is null
# RETURNS False if no null value found in dataframe or series

# FOR dataframe and series both

df.empty

DF.AT

In [ ]:
# FINDS & RETURNS the specific single value at given position with its datatype
# SERIES : [row_name]
# DATAFRAME : [row_name, column_name]

# WORKS with labels (names)

# FOR dataframe and series both

df['5.1'].at[7]
df.at[7, '5.1']

DF.IAT

In [ ]:
# FINDS & RETURNS the specific single value at given position with its datatype
# SERIES : [row_index]
# DATAFRAME : [row_index, column_index]

# WORK with indexes

# FOR dataframe and series both

df['5.1'].iat[2]
df.iat[7, 2]

DF.LOC

In [ ]:
# FINDS & RETURNS the specific single or multiple value at given positions with its datatype
# SERIES : [row_name] or [start_name:end_name]
# DATAFRAME : [row_name, column_name] or [[list of row_names], [list of column names]]

# WORKS with labels (names)

# FOR dataframe and series both

df['5.1'].loc[20:25]
df.loc[:, ['5.1', '3.5']]
df.loc[[20, 21, 22, 25]]
df.loc[[20, 21, 22, 25], ['5.1', '3.5']]

DF.ILOC

In [ ]:
# FINDS & RETURNS the specific single or multiple value at given positions
# SERIES : [row_name] or [start_index : end_index]
# DATAFRAME : [row_index, column_index or [start_row_index : end_row_index, start_column_index : end_column_index]

# WORKS with labels (names)

# FOR dataframe and series both

df['5.1'].iloc[20:25]
df.iloc[20:25, 0:3]

DF.IS_UNIQUE

In [ ]:
# RETURNS True when all values of series of column are different (unique)
# RETURNS False when there is any duplicate value

# ONLY FOR series (or single column of dataframe)

df['5.1'].is_unique

DF.IS_MONOTONIC_INCREASING

In [ ]:
# RETURNS True when all values in series or column are in ascending order (current value > previous value))
# RETURNS False when there is error in ascending order

# ONLY FOR series (or single column of dataframe)

df['5.1'].is_monotonic_increasing

DF.IS_MONOTONIC_DECREASING

In [ ]:
# RETURNS True when all values in series or column are in descending order (current value < previous value))
# RETURNS False when there is error in ascending order

# ONLY FOR series (or single column of dataframe)

df['5.1'].is_monotonic_decreasing

DF.ATTRS

In [ ]:
# RETURNS the dictionary of attributes set by the user


# SETTING ATTRIBUTES
df.attrs['name'] = 'Iris Flowers Dataset'
df.attrs['sourse'] = 'ChatGPT'

# FOR dataframe and series both


df.attrs
df.attrs['sourse']

# DATA EXPLORE & INSPECTION

In [ ]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

# Functions that are used to explore and inspect the dataset

DF.HEAD()

In [ ]:
# df.head(n)

# N (required): number of rows (default value of n is 5)

# RETURN dataframe with first n nomber of rows (top to bottom)
# RETURNS a copy of dataframe (print or store it), (copy = on changing new copy, original data remain same)


# PRINT TOP 5 ROWS OF DATAFRAME
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

PD.TAIL()

In [ ]:
# df.tail(n)

# N (required): number of rows (default value of n is 5)

# RETURN dataframe with last n nomber of rows (bottom to top)
# RETURNS a copy of dataframe (print or store it), (copy = on changing new copy, original data remain same)


# PRINT BOTTOM 5 ROWS OF DATAFRAME
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

DF.SAMPLE()

In [ ]:
# df.sample(n, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)

# N (required): number of rows (default value of n is 5), cannot be ised when using frac parameter
# FRAC (optional): fraction or rows (frac Ã— 100 = percentage of rows to return out of total, 0.1 means 10% of total rows
# REPLACE (optional): False (default) value means no repeated row, True value means rows can be repeated randomly
# WEIGHTS (optional): False (default) value means each row has equal weight (chance of each to be selected randomly is same), passing list or series of fractions values means assigning different weights to different rows (rows with high weight have more chances to get selected)
# RANDOM_STATE (optional): None (default) value means every time on running code it gives different samples, passing any int value means on running the code every time with same int value it gives same sample results
# AXIS (optional): 0 (default) value means extract random n rows sample from dataframe, and 1 means extract random n columns sample from dataframe
# IGNORE_INDEX (optional): False (default) value means it gives orignal index of sample rows as in dataframe, True value means it resets the index (undex start from 0, 1, 2...)


# RETURNS a random sample of rows (all columns) from the DataFrame (useful for quick inspection or for sampling large datasets)
# RETURNS a copy of dataframe (print or store it), (copy = on changing new copy, original data remain same)


# PRINT RANDOM 5 ROWS OF DATAFRAME
df.sample()

    5.1  3.5  1.4  0.2  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa

DF.INFO()

In [ ]:
# df.info(verbose=None, buf=None, max_cols=None, memory_usage=None, show_counts=None)

# VERBOSE (optional): None (default) value means display all info mentioned below (if number of columns < max_cols parameter value act as True, and if number of columns > max_cols act as False), True value means force to display all information of all rows (even number of columns is more than 1000), False value means only display basic datafy information (not all columns information)
# BUF (optional): None (default) value means to print information on console screen, we can also save in variable or write it in a text file and save it (by opening a text file with write permission, create a string variable using StringIO function from io library, put that variable in buffer value, info stored in that variable, write that variable in text file)
# MAX_COLS (optional): only ise when verbose=none, None (default) value means total number of columns in dataframe, passing integer means if columns in dataframe are less than max_cols act as true (display all column info), if columns in dataframe less than max_cols verbose act as False (only nasic info, not all columns information)
# MEMORY_USAGE (optional): None (default) value means display memory usage only if verbose is True, False value means never display memory usage, True value means always display memory usage, 'deep' value means deeply analyze and display memory usage (usually slower but accury)
# SHOW_COUNTS (optional): None (default) value means display number of not-null values in each column or not depends on verbose amd max_cols values, False value means never display number of not-null values, True value means always display number of not-null values


# RETURNS nothing
# PRINTS the following information about dataframe:
        # all columns details
        # df datatype (<class 'pandas.core.frame.DataFrame'>)
        # total numberr of rows
        # total number of columns
        # number of not-null values
        # dtypes of each column
        # memory usage


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

DF.DESCRIBE()

In [ ]:
# DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False, numeric_only=None)


# PERCENTILES (optional): None (default) value means display percentiles of 25, 50 and 75, we can also pass a list of floating points between 0 and 1 (0% to 100%) to display percentiles of these values
# INCLUDE (optional): None (default) value means display only numerical and boolean columns (not string) analysis, optional values: ('all': to display all columns, ['object']: to display only string (categorical) columns,['number']: to display only numerical columns,['bool']: to display only boolean columns), we can also use more options like (include=['number'], ['bool'])
# EXCLUDE (optional): None (default) value means not display all columns (exclude any column), use optional values to exclude any type of columns
# DATETIME_IS_NUMERIC (optional): False (default) value means datetime columns are ignored for numeric stats, True value means datetime columns are converted to integers internally (e.g., Unix timestamp) and included in the output
# NUMERIC_ONLY (optional): None (default) value means display only numerical and boolean columns (not string), True value means only display numerical columns, False value means include all columns (numeric, object, bool)


# RETURNS DATAFRAME of all information
# for numerical data PRINTS statistical analysis values of data for each column:
        # Count of non-null values
        # Mean (average of that column)
        # Standard deviation (how much values vary from mean of that column)
        # Minimum and Maximum values
        # 25th, 50th (median), and 75th percentiles
# for categorical data PRINTS:
        # Count of non-null values
        # Number of unique values
        # Top value
        # Most frequent value


df2 = df.describe()
print(df2)

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

DF.VALUE_COUNTS()

In [ ]:
# DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False, dropna=True)

# SUBSET (optional): None (default) value means check all columns for unique rows, passing list of names of columns means only check these columns for unique rows
# NORMALIZE (optional): False (default) value means show number of unique rows count, True value means it shows proportions (percentage/fraction) instead of counts
# SORT (optional): True (default) value means sorts the result by number of count in descending order, False value means unordered result (rows as in original dataframe)
# ASCENDING (optional): False (default) value means dont sort result the result by number of count in ascending order, True (only when sort=False) means sort the result by number of count in ascending order
# DROPNA (optional): True (default) value means don't include rows with null values, False value means also include rows with null values


# USED TO count the unique rows (combinations of values) in a DataFrame (and how many times a row is repeated)
# RETURNS a dataframe with frequency (count) of each row


df.value_counts()

5.1  3.5  1.4  0.2  Iris-setosa
4.9  3.1  1.5  0.1  Iris-setosa       3
5.8  2.7  5.1  1.9  Iris-virginica    2
4.4  3.0  1.3  0.2  Iris-setosa       1
     3.2  1.3  0.2  Iris-setosa       1
4.5  2.3  1.3  0.3  Iris-setosa       1
                                     ..
7.7  2.6  6.9  2.3  Iris-virginica    1
     2.8  6.7  2.0  Iris-virginica    1
     3.0  6.1  2.3  Iris-virginica    1
     3.8  6.7  2.2  Iris-virginica    1
7.9  3.8  6.4  2.0  Iris-virginica    1
Name: count, Length: 146, dtype: int64

DF.NUNIQUE()

DF.ISNA()

DF.ISNOTNA()

DF.ISNULL()

DF.ISNOTNULL()

DF.INFER_FREQ()

# STATISTICAL FUNCTIONS

DF.SUM()

In [ ]:
# df.sum(axis=0, skipna=True, level=None, numeric_only=False, min_count=0)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# LEVEL (optional):
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns
# MIN_COUNT (optional): Minimum number of valid values to perform sum. If fewer, result is NaN.


# Calculates sum of all values in the specified axis (row or column wise) of DataFrame
# If row or column not specified returns sum of all columns
# Automatically ignore null values


# FOR dataframe and series both


# RETURNS scalar(single value), series or dataframe according to given axis value


df.sum()
df['5.1'].sum()

DF.MEAN()

In [ ]:
# df.mean(axis=0, skipna=True, numeric_only=False)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# ONLY FOR series (or single column of dataframe)


# Calculates the mean (average) of specified column or row in a DataFrame
# Only for numerical row or column
# RETURNS scalar(single value), series or dataframe according to given axis value


df['5.1'].mean()

DF.MEDIAN()

In [ ]:
# df.median(axis=0, skipna=True, numeric_only=False)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# ONLY FOR series (or single column of dataframe)
# Only for numerical row or column


# Calculates the median (middle value) of specified column or row in a DataFrame
# RETURNS scalar(single value) median


df['5.1'].median()

DF.MODE()

In [ ]:
# df.mode(axis=0, dropna=True, numeric_only=False)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# DROPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# FOR dataframe and series both


# Calculates the mode (most frequent values in each column or row
# If row or column not specified returns mode of all columns (including string column)
# RETURNS scalar(single value), series or dataframe according to given axis value


df.mode()
df['5.1'].mode()

DF.MIN()

In [ ]:
# df.min(axis=0, skipna=True, numeric_only=False)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# FOR dataframe and series both


# Calculate the minimum value along the requested axis (row-wise or column-wise)
# If row or column not specified returns mode of all columns (including string column)
# RETURNS scalar(single value), series or dataframe according to given axis value


df['5.1'].min()
df.min()

DF.MAX()

In [ ]:
# df.max(axis=0, skipna=True, numeric_only=False)

# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# FOR dataframe and series both


# Calculate the maximum value along the requested axis (row-wise or column-wise)
# If row or column not specified returns mode of all columns (including string column)
# RETURNS scalar(single value), series or dataframe according to given axis value


df['5.1'].max()
df.max()

DF.GROUPBY()

In [ ]:
# df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, observed=False, dropna=True)


# BY (required): row or column name or names on the base of which results grouped
# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# LEVEL (optional):
# AS_INDEX (optional): True (default) value means that the groupby row or column become index row, False value means index row remain same
# SORT (optional): True (default) value means that the result groupby row or column is in sorted way (ascending), False value means restlt groupby row or column is not sorted
# GROUP_KEYS (optional): True (default) value means that the result groupby row or column will also display with index row and final results, False value means only index row amd final results display
# OBSERVED (optional): True value means that only exiting groups categories (all with non-zero result value) will display,  False (default) value means that existing rows or column and newly will also display created groups (having 0 value in result) will display in result, True value means that
# DROPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value


# Groupby can also group results on basis or more than one row or colum by passing list of names of rows or columns
# USED with other functions (like sum, max, min, mean, mode) to split their results into groups based on the valies in another column or row
# ONLY FOR dataframes
# RETURNS the grouped result of functions


df.groupby('Iris-setosa').sum('5.1')
df.groupby('Iris-setosa').mean('5.1')
df.groupby(['Iris-setosa', '1.4']).median('5.1')

DF.AGG()

In [ ]:
# df.agg(func=None)

# FUNC (required): name of all statistical functions you want

# ONLY FOR series (or single column of dataframe)
# ALSO FOR dataframes but must use groupby function with it
# ONLY FOR numerical row or columns
# RETURNS dataframe with results of all functions given to parameter

df['5.1'].agg(['sum', 'mean', 'median'])

df.groupby('Iris-setosa').agg(['sum', 'mean', 'median'])

DF.VAR()

In [ ]:
# df.var(axis=0, skipna=True, ddof=1, numeric_only=False,)


# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# DDOF (optional): DELTA DEGREES OF FREEDOM 1 (default) value means sample variance, 0 value means population
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns


# Calculates the variance of each column or row in the dataframe
# Variance measures how spread out the values are (from its mean)



df['5.1'].var()

0.6865681117358969

DF.STD()

In [ ]:
# df.std(axis=0, skipna=True, ddof=1, numeric_only=False,)


# AXIS (optional): 0 or 'index' (default) value means sum of values in a column, 1 or 'column' value means sum of all values in row
# SKIPNA (optional): True (default) value means ignore all null values, False value means return nan if there is any null value
# DDOF (optional): DELTA DEGREES OF FREEDOM 1 (default) value means sample variance, 0 value means population
# NUMERIC_ONLY (optional): True (default) value means only include numeric rows or columns, False value means include numeric amd datetime row or columns



# Calculates the standard deviation of columns or rows
# Std dev is the square root of variance


df['5.1'].std()

0.8285940572656172

DF.PROD()

DF.CUMSUM

DF.CUMPROD()

DF.CUMMIM()

DF.CUMMAX()

DF.QUANTILE()

DF.SKEW()

DF.KURT()

DF.CORR()

DF.COV()

DF.ROUND()

DF.ABS()

DF.DIFF()

DF.RANK()

DF.PCT_CHANGE()

DF.FIRST()

DF.LAST()

DF.ANY()

DF.ALL()

# SORTING

DF.SORT_INDEX()

DF.SORT_VALUES

# DATA SELECTION & INDEXING

DF.LOC()

DF.ILOC()

DF.AT()

DF.IAT()

DF.GET()

DF.COUNT()

DF.FILTER()

In [ ]:
# df.filter(items=None, like=None, regex=None, axis=None)


# ITEMS (optional): List of exact column names to filter  (items = ['Iris-setosa', '1.4'])
# LIKE (optional): Keep columns that contain this substring  (like = 'Iris')
# REGEX (optional): Keep columns that match regular expression pattern:
        # .  represent single character (a.c = abc)
        # ^  start of string
        # $  end of string
        # *  zero or more previous character (add or remove?
        # +  one or more previous character (add or remove?
        # ?  zero or one previous character (add or remove?
# AXIS (optional): 1 or 'columns' (default) value means filter column, 0 or 'index' value means filter rows


# USED TO select specific rows or columns by labels or name patterns, using:
        # Exact names
        # Partial name match (like startswith/endswith)
        # Regular expressions (regex)
# RETURNS a new DataFrame with the filtered rows/columns


df.filter(like = 'setosa', axis = 0)

# DEAL WITH DUPLICATE DATA

DF.DUPLICATED()

In [ ]:
# df.duplicated(subset=None, keep='first')


# SUBSET (optional): None (default) value means check each column for duplicates, we can pass a list of names of columns in which we want to check duplicates
# KEEP (optional): False (default) value means mark all duplicates True (duplicated), 'first' valie means mark first value False (unique), 'last' value means mark last duplicate value as False (unique)


# USED TO identify duplicate rows in a DataFrame.
# RETURNS a Boolean Series of each row (showing it is duplicated or unique)
# True means the row is a duplicate of a previous row
# False means the row is unique


df.duplicated(subset=['Iris-setosa', '1.4'])

DF.DROP_DUPLICATED()

In [ ]:
# df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)


# SUBSET (optional): None (default) value means check each column for duplicates, we can pass a list of names of columns in which we want to check duplicates
# KEEP (optional): False (default) value means mark all duplicates True (duplicated), 'first' valie means mark first value False (unique), 'last' value means mark last duplicate value as False (unique)
# INPLACE (optional): False (default) value means create new dataframe after dropping duplicates, True value means drop duplicates from original dataframe
# IGNORE_INDEX (optional): False (default) value means also drop index with duplicates and orignal imdex of each item remain same (1, 3, 4, 5, 8), True value means reset index from 0 (0, 1, 2, 3, 4)


# RETURNS a new DataFrame with duplicates removed if inplace=False
# RETURNS None if inplace=True
# ORIGINAL DATAFRAME is unchanged unless inplace=True


df.drop_duplicates(subset=['Iris-setosa', '1.4'])

# DEAL WITH NULL DATA

DF.ISNA()

DF.ISNULL()

DF.ISNOTNA()

DF.ISNOTNULL()

DF.INTERPOLATE()

DF.FILLNA()

DF.DROPNA

# DATA TRANSFORMATION

PD.CUT()

In [ ]:
# pd.cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)


# X (required): Input numeric data (series or array like) to be binned or cut
# BINS (required): Number of equal-width bins (intervals)
# RIGHT (optional): True (default) value means that rightmost (max) value of each bin (interval) include in that bin, False mean not include in that bin
# LABELS (optional): None (default) value means no labels, We can pass a list labels (like ['low', 'medium', 'high'] as names given to the intervals
# RETBINS (optional):
# PRECISION (optional): Decimal precision of bin edges (number of digits after decimal), Default value is 3
# INCLUDE_LOWEST (optional):
# DUPLICATES (optional): How to handle duplicate bin edges, Option values ('raise': include duplicated values,'drop': exclude duplicate values)
# ORDERED (optional):



# USED TO segment and sort numeric data into discrete bins or intervals
# USED TO convert continuous values into categorical bins or intervals
# RETURNS a series of equal bins on given number


s = pd.Series([0, 5, 10, 15, 20, 25])
pd.cut(s, 7)

0             NaN
1             NaN
2             NaN
3    (10.0, 20.0]
4    (10.0, 20.0]
5    (20.0, 30.0]
dtype: category
Categories (4, interval[int64, right]): [(10, 20] < (20, 30] < (30, 40] < (40, 50]]

PD.QCUT()

PD.GET_DUMMIES()

PD.FACTORIZE()

PD.UNIQUE()

PD.VALUE_COUNTS()

PD.TO_NUMERIC()

PD.TO_DATETIME()

PD.TO_TIMEDELTA

DF.APPLY()

DF.APLLYMAP()

DF.MAP()

DF.TRANSFORM()

DF.PIPE()

# PIVOTING & RESHAPING

DF.MELT()

DF.WIDE_TO_LONG()

DF.PIVOT()

DF.PIVOT_TABLE()

DF.STACK()

DF.UNSTACK()

DF.TRANSPOSE()

# GROUP, MERGE, CONCATENATE

PD.CONCAT()

PD.MERGE()

PD.MERGE_ASOF()

PD.MERGE_ORDERED()

PD.CROSSTAB

# COMPARE DATAFRAMES

PD.COMPARE()

PD.EQUALS()

PD.TESTIMG.ASSERT_FRAME_EQUAL

PD.TESTIMG.ASSERT_SERIES_EQUAL

# RESHAPING

PD.STACK()

In [ ]:
# df.stack(level=-1, dropna=True)

# LEVEL (optional): The level(s) to stack, -1 (default) value is the last level (innermost column level)
# DROPNA (optional): True (default) value means drop rows where all stacked values are null, False value means dont drop null value rows

# USED TO reshape a DataFrame by â€œstackingâ€ the columns into a new inner level of the row index, means first write all column values of row1 in 1 column (multi index row), them write all column values of 2nd row and so kn
# RETURNS a new copy of series or dataframe (which meed to be stacked)

df.stack()

0    5.1                       4.9
     3.5                       3.0
     1.4                       1.4
     0.2                       0.2
     Iris-setosa       Iris-setosa
                         ...
148  5.1                       5.9
     3.5                       3.0
     1.4                       5.1
     0.2                       1.8
     Iris-setosa    Iris-virginica
Length: 745, dtype: object

PD.UNSTACK()

PD.EXPLODE()

# TIME SERIES TOOLS

PD.DATE_RANGE()

PD.BDATE_RANGE()

PD.PERIOD_RANGE()

PD.TIMEDELTA_RANGE()

PD.INFER_FREQ()

PD.OFFSETS()

# STATS & MATHS OPERATIONS

PD.CUT()

In [ ]:
# pd.qcut(x, q, labels=False, retbins=False, precision=3, duplicates='raise')


# X (required): Input numeric data (series or array like) to be binned or cut
# BINS (required): Number of equal-width bins (intervals)
# RIGHT (optional): True (default) value means that rightmost (max) value of each bin (interval) include in that bin, False mean not include in that bin
# LABELS (optional): None (default) value means no labels, We can pass a list labels (like ['low', 'medium', 'high'] as names given to the intervals
# RETBINS (optional):
# PRECISION (optional): Decimal precision of bin edges (number of digits after decimal), Default value is 3
# INCLUDE_LOWEST (optional):
# DUPLICATES (optional): How to handle duplicate bin edges, Option values ('raise': include duplicated values,'drop': exclude duplicate values)
# ORDERED (optional):


# USED TO split and sort continuous numerical data into (equal-width) intervals or bins, which can help you categorize or group the data
# USED TO convert continuous values into categorical bins or intervals
# RETURNS a series of equal bins on given number


s = pd.Series([0, 5, 10, 15, 20, 25])
pd.cut(s, 7)

0     (-0.025, 3.571]
1      (3.571, 7.143]
2     (7.143, 10.714]
3    (14.286, 17.857]
4    (17.857, 21.429]
5      (21.429, 25.0]
dtype: category
Categories (7, interval[float64, right]): [(-0.025, 3.571] < (3.571, 7.143] < (7.143, 10.714] <
                                           (10.714, 14.286] < (14.286, 17.857] < (17.857, 21.429] <
                                           (21.429, 25.0]]

PD.QCUT()

In [ ]:
# pd.qcut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise', ordered=True)

# X (required): Input numeric data (series or array like) to be binned or cut
# Q (required): Number of quantiles (int) OR list of quantiles (floats from 0 to 1)
# RETBINS (optional):
# PRECISION (optional): Decimal precision of bin edges (number of digits after decimal), Default value is 3
# DUPLICATES (optional): How to handle duplicate bin edges, Option values ('raise': include duplicated values,'drop': exclude duplicate values)


# USED TO split and sort continuous numerical data into equal-frequency (quantile) intervals or bins, which can help you categorize or group the data
# USED TO convert continuous values into categorical bins or intervals on the base of distributions
# RETURNS a series of equal frequency bins on given number


s = pd.Series([0, 5, 10, 15, 20, 25])
pd.qcut(s, 7)

0     (-0.001, 3.571]
1      (3.571, 7.143]
2     (7.143, 10.714]
3    (14.286, 17.857]
4    (17.857, 21.429]
5      (21.429, 25.0]
dtype: category
Categories (7, interval[float64, right]): [(-0.001, 3.571] < (3.571, 7.143] < (7.143, 10.714] <
                                           (10.714, 14.286] < (14.286, 17.857] < (17.857, 21.429] <
                                           (21.429, 25.0]]

PD.EVAL()

PD.OPTION_CONTEXT()

# GENERAL UTILITY

PD.OPTIONS()

PD.SET_OPTIONS()

PD.GET_OPTIONS()

PD.RESET_OPTIONS()

PD.DESCRIBE_OPTIONS()

PD.OPTIONS_CONTEXT()

PD.SHOW_VERSIONS()